In [49]:
import pandas as pd

In [50]:
filepath="C:\project_data\seoul_temp_clean.csv"

In [51]:
import pandas as pd

df = pd.read_csv(filepath)
df

,date,station_id,temperature1,temperature2,temperature3,분석,자료구분,자료형태,지역/지점
0,2023-01-01,108,-0.2,-4.3,3.8,기온분석,일,기본,서울
1,2023-01-02,108,-4.5,-7.4,-0.4,기온분석,일,기본,서울
2,2023-01-03,108,-5.0,-9.0,0.6,기온분석,일,기본,서울
3,2023-01-04,108,-1.8,-5.7,3.3,기온분석,일,기본,서울
4,2023-01-05,108,-1.6,-5.6,3.6,기온분석,일,기본,서울
...,...,...,...,...,...,...,...,...,...
1030,2025-10-27,108,8.1,3.7,12.2,기온분석,일,기본,서울
1031,2025-10-28,108,8.5,3.0,14.4,기온분석,일,기본,서울
1032,2025-10-29,108,11.4,6.2,18.3,기온분석,일,기본,서울
1033,2025-10-30,108,12.8,7.7,18.2,기온분석,일,기본,서울
1034,2025-10-31,108,15.1,11.3,20.7,기온분석,일,기본,서울

In [52]:
df = df.rename(columns={
    "temperature1": "평균기온",
    "temperature2": "최저기온",
    "temperature3": "최고기온",
})

In [53]:
df.head()

         date  station_id  평균기온  최저기온  최고기온    분석 자료구분 자료형태 지역/지점
0  2023-01-01         108  -0.2  -4.3   3.8  기온분석    일   기본    서울
1  2023-01-02         108  -4.5  -7.4  -0.4  기온분석    일   기본    서울
2  2023-01-03         108  -5.0  -9.0   0.6  기온분석    일   기본    서울
3  2023-01-04         108  -1.8  -5.7   3.3  기온분석    일   기본    서울
4  2023-01-05         108  -1.6  -5.6   3.6  기온분석    일   기본    서울

In [54]:
df[['date','평균기온','최저기온','최고기온']]

            date  평균기온  최저기온  최고기온
0     2023-01-01  -0.2  -4.3   3.8
1     2023-01-02  -4.5  -7.4  -0.4
2     2023-01-03  -5.0  -9.0   0.6
3     2023-01-04  -1.8  -5.7   3.3
4     2023-01-05  -1.6  -5.6   3.6
...          ...   ...   ...   ...
1030  2025-10-27   8.1   3.7  12.2
1031  2025-10-28   8.5   3.0  14.4
1032  2025-10-29  11.4   6.2  18.3
1033  2025-10-30  12.8   7.7  18.2
1034  2025-10-31  15.1  11.3  20.7

[1035 rows x 4 columns]