# v.0.2 에서는 더 나아가 선형회귀, Ridge, RandomForest 모델을 사용할 예정

### 파일 불러오기

In [214]:
import pandas as pd

In [215]:
filepath = r"/Users/seoyeongbubu/jump-to-github/jump-to-github/Dataset_ML.csv"

In [216]:
df = pd.read_csv(filepath)
df

,구,연도,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,...,노령화지수,총인구,총인구_남자,총인구_여자,전년 대비 증감,증감률,1인가구_비율,65세 이상,0~14세,소비자물가
0,강남구,2014,1,0,0,0,0,0,0,0,...,6.42,520799.7,249840.4,270959.3,-87.6,0.4,10.33,4943.0,70885.1,89.257
1,강남구,2015,1,0,0,0,0,0,0,0,...,7.77,518807.1,248824.7,269982.4,279.6,0.8,10.87,5694.9,69990.6,91.477
2,강남구,2016,1,0,0,0,0,0,0,0,...,9.12,516814.6,247809.0,269005.6,646.9,1.3,11.41,6446.7,69096.1,93.696
3,강남구,2017,1,0,0,0,0,0,0,0,...,11.09,522514.0,250087.0,272427.0,776.0,1.3,12.36,7607.0,68591.0,97.645
4,강남구,2018,1,0,0,0,0,0,0,0,...,11.75,507810.0,243579.0,264231.0,-47.0,-0.1,12.00,7834.0,66657.0,99.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,중랑구,2019,0,0,0,0,0,0,0,0,...,29.32,386331.0,190531.0,195800.0,2989.0,6.1,13.51,10920.0,37243.0,99.466
246,중랑구,2020,0,0,0,0,0,0,0,0,...,34.39,385663.0,189537.0,196126.0,4409.0,8.4,14.68,12190.0,35444.0,100.000
247,중랑구,2021,0,0,0,0,0,0,0,0,...,40.08,380307.0,186364.0,193943.0,3882.0,6.9,15.90,13358.0,33325.0,102.500
248,중랑구,2022,0,0,0,0,0,0,0,0,...,45.26,379127.0,185196.0,193931.0,3847.0,6.4,16.97,14569.0,32188.0,107.720
249,중랑구,2023,0,0,0,0,0,0,0,0,...,51.52,376621.0,183685.0,192936.0,2572.0,4.0,17.76,15793.0,30655.0,111.590

In [217]:
df.columns

Index(['구', '연도', '강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구',
       '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구', '1인가구수', '단독주택_계',
       '단독주택_남자', '단독주택_여자', '아파트_계', '아파트_남자', '아파트_여자', '연립주택_계', '연립주택_남자',
       '연립주택_여자', '다세대주택_계', '다세대주택_남자', '다세대주택_여자', '비주거용 건물내 주택_계',
       '비주거용 건물내 주택_남자', '비주거용 건물내 주택_여자', '일반수급자 65 ~ 69세', '일반수급자 70 ~ 74세',
       '일반수급자 75 ~ 79세', '일반수급자 80세 이상', '값', '기초생활수급자비율', '저소득노인_65~79비율',
       '저소득노인_80이상비율', '노령화지수', '총인구', '총인구_남자', '총인구_여자', '전년 대비 증감', '증감률',
       '1인가구_비율', '65세 이상', '0~14세', '소비자물가'],
      dtype='object')

### 피처와 컬럼 잡기

In [218]:
target_col = "값"
y = df[target_col]

In [219]:
base_features = [
    "연도",
    "1인가구수",
    "기초생활수급자비율",
    "저소득노인_65~79비율",
    "저소득노인_80이상비율",
    "노령화지수",
    "총인구",
    "1인가구_비율",
    "65세 이상",
    "0~14세",
    "소비자물가"
]

In [220]:
region_cols = [
    "강남구","강동구","강북구","강서구","관악구","광진구","구로구","금천구",
    "노원구","도봉구","동대문구","동작구","마포구","서대문구","서초구","성동구",
    "성북구","송파구","양천구","영등포구","용산구","은평구","종로구","중구","중랑구"
]

In [221]:
feature_cols = base_features + region_cols
X = df[feature_cols]

### 결측치 확인

In [222]:
print(X.isna().sum())

연도               0
1인가구수            0
기초생활수급자비율        0
저소득노인_65~79비율    0
저소득노인_80이상비율     0
노령화지수            0
총인구              0
1인가구_비율          0
65세 이상           0
0~14세            0
소비자물가            0
강남구              0
강동구              0
강북구              0
강서구              0
관악구              0
광진구              0
구로구              0
금천구              0
노원구              0
도봉구              0
동대문구             0
동작구              0
마포구              0
서대문구             0
서초구              0
성동구              0
성북구              0
송파구              0
양천구              0
영등포구             0
용산구              0
은평구              0
종로구              0
중구               0
중랑구              0
dtype: int64

In [223]:
print(y.isna().sum())

0

### 학습/테스트 나누기

In [224]:
from sklearn.model_selection import train_test_split

In [225]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

## 최종 Feature(X) 처리하기

### from sklearn.compose import ColumnTransformer

각 컬럼마다 전처리,스케일링 방식이 다르므로 한 번에 묶어서 처리해준다.

In [226]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler

In [227]:
# base_features에는 StandardScaler를 적용하고,
# region_cols는 손대지 않고 합쳐서 다시 하나의 배열로 만들어줌
col_tran = ColumnTransformer(
    transformers=[
        ("num", StandardScaler(), base_features),
        ("cat", "passthrough", region_cols),
    ]
)

# 학습 데이터 전처리
X_train_transformed = col_tran.fit_transform(X_train)

# 테스트 데이터 전처리
X_test_transformed = col_tran.transform(X_test) # 데이터 누수 방지하기위해 transform만한다.

### 비교할 모델 정의하기 LinearRegression, Ridge, RandomForestRegressor

In [228]:
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, r2_score

In [229]:
# 사용 할 모델들 한 번에 정의 -> for문으로 하나씩 꺼내서 학습시킨다.
models = {
    "Linear" : LinearRegression(),
    "Ridge" : Ridge(alpha=0.001), # 과적합 줄임
    "RandomForest" : RandomForestRegressor(n_estimators=200,random_state=42) # 여러 개의 결정 트리를 만들어서 평균값으로 예측
}

In [230]:
result = {} # 결과 저장할 딕셔너리 생성

for name, models in models.items():

    models.fit(X_train_transformed,y_train) # 학습 시킬 때 전처리 된 X_train_transformed 쓰기

    y_pred = models.predict(X_test_transformed) # 예측도 마찬가지로 전처리 된 데이터 넣기

    mae = mean_absolute_error(y_test,y_pred)
    r2 = r2_score(y_test,y_pred)

    print(f"mae : {mae:.3f}")
    print(f"r2 : {r2:3f}")

    result[name] = {"mae" : mae, "r2" : r2}

mae : 1.991
r2 : 0.929835
mae : 1.991
r2 : 0.929834
mae : 3.866
r2 : 0.771503

In [231]:
for name, m in result.items():
    print(f"{name:12s} | MAE: {m['mae']:.3f} | R2: {m['r2']:.3f}")

Linear       | MAE: 1.991 | R2: 0.930
Ridge        | MAE: 1.991 | R2: 0.930
RandomForest | MAE: 3.866 | R2: 0.772